[submodule "ws2812rpi_spi"]
	path = ws2812rpi_spi
	url = https://github.com/KaliAssistant/ws2812rpi_spi
[submodule "gt"]
	path = gt
	url = https://github.com/KaliAssistant/gt.git
[submodule "libusbgx"]
	path = libusbgx
	url = https://github.com/KaliAssistant/libusbgx.git
[submodule "rpitx"]
	path = rpitx
	url = https://github.com/KaliAssistant/rpitx
	branch = rpi-sdr-tx
